@media (min-width: 1250px) {
  .p-button.p-ripple {
    width: 11%;
  }
}

@media (min-width: 834px) and (max-width: 1250px) {
  .p-button.p-ripple {
    width: 11%;
    height: 40px;
  }
}

@media (max-width: 833px) {
  .p-button.p-ripple {
    width: 33%;
  }
}
